footer p{
    clear: both;
    padding: 3em 0;
    text-align: center;
    border-top: 2px solid #D67D3E;
    color: #D67D3E;
    font-size: 20px;
    
}

footer .holderhome{
    height: 160px;
}





